.loader{
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.loader_logo{
    position: absolute; 
    left: 2.5%; 
    right: 0; 
    top: 52%;
    margin-left: auto; 
    margin-right: auto; 
    width: 100px; /* Need a specific value to work */
}